{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "lib": "./lib"
      }
    }],
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
